.container {
    display: flex;
    align-items:center;
    justify-content:space-between;
    flex-direction: row;
    padding: 1.8vw 1.8vw;
    width: 100%;
}
.links_container {
    display: flex;
    align-items:center;
    justify-content:center;
    flex-direction: row;
    gap: 6.5vw;
    margin-top: 2.5vw;
    font-family: "Bubbler One";
    font-size: 2vw;
    font-weight: 400;
}

.logo_container {
    width: 22vw;
}

.header_logo:hover {
    cursor: pointer;
}

.icon_container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1vw;
    margin-top: 2.5vw;
    padding-left: 13vw;
    width: 18.5vw;
}

.blog_container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .1vw;
}

.menu_arrow_container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 1.5vw;
    width: 1.5vw;
}

.menu_arrow_container:hover {
    cursor: pointer;
    border-radius: 50%;
    background-color: rgba(128, 128, 128, 0.171);
}


@media only screen and (max-width: 600px) {
    .container {
        display: flex;
        align-items:center;
        justify-content:center;
        flex-direction: row;
        width:100%;
        padding: 10px;
    }
    .links_container {
        display: flex;
        align-items:center;
        justify-content:center;
        flex-direction: row;
        font-family: "Bubbler One";
        font-size: 7vw;
        font-weight: 400;
        gap: 30px;
        margin: 15px;
    }
    .icon_container {
        display: none;
    }
    .logo_container {
       display: none;
    }
    .menu_arrow_container {
        display: none;
    }
}

