
.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
}

.banner {
  background-image: url("/images/circles_background.png");
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3vw 5vw 3vw 5vw;
  width: 100%;
}

.center_banner {
  background-color: white;
  justify-content: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 5vw 2vw 5vw 2vw;
}

.text_container > p {
  font-family: "Bubbler One";
  font-size: 2.2vw;
  margin-top: 30px;
}

.text_container {
  display: flex;
  gap: 5px;
}

.heart_emoji {
  font-size: 2.5vw !important;
  color: #8D68AE;
  line-height: 3.3vw;
}

.ellipse_container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap:10vw;
}

.ellipse1 {
  background-image: url("/images/ellipse_1.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 14vw;
  width: 14vw;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-position-y: 2px;
  margin-top: 4vw;
}

.ellipse1:hover {
  cursor: pointer;
  transform: scale(1.05);
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.ellipse2 {
  background-image: url("/images/ellipse_2.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 14vw;
  width: 14vw;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-position-y: 2px;
  margin-bottom: 4vw;
}

.ellipse2:hover {
  cursor: pointer;
  transform: scale(1.05);
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.ellipse3 {
  background-image: url("/images/ellipse_3.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 14vw;
  width: 14vw;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-position-y: 2px;
  margin-bottom: 4vw;
}

.ellipse3:hover {
  cursor: pointer;
  transform: scale(1.05);
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.ellipse4 {
  background-image: url("/images/ellipse_4.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 14vw;
  width: 14vw;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-position-y:4px;
  margin-top: 4vw;
}

.ellipse4:hover {
  cursor: pointer;
  transform: scale(1.05);
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.ellipse_text {
  font-family: "Alegreya SC";
  font-size: 1.7vw;
  color: white;
  font-weight: 500;
}

.email_container {
  background-color: #D39AF978;
  padding: 2vw;
  display: flex;
  align-items: center;
  width: 93vw;
  margin: 2vw 0vw;
  margin-left: 3.2vw;
}

.email_words_container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50vw;
  font-family: "Alegreya SC";
  color: #00000080;
  height: 5vw;
  padding: 1vw 5vw 1vw 5vw;
  gap: 1vw;
}

.email_words_container > h1 {
  font-size: 8vw;
  font-weight: 400;
  line-height: 1%;
  font-style: italic;
}

.email_words_container > h3 {
  font-size: 1.9vw;
  line-height: 3.3vw;
  font-weight: 400;
  font-style: italic;
  margin-top: 3vw;
}

.email_input_container {
  display: flex;
}

.email_input_container > input {
  height: 3.5vw;
  width: 25vw;
  font-size: 1.5vw;
  border-color: transparent;
  padding-left: 1vw;
  font-family: "ABeeZee";
}

.email_input_container > button {
  height: 3.5vw;
  width: 8vw;
  color: white;
  font-size: 1.5vw;
  border-radius: 0;
  border-color: transparent;
  background-color: #8D68AE;
  font-family: "ABeeZee";
}

.email_input_container > button:hover {
  cursor: pointer;
  background-color: #865aac;
}

.main_container {
  display: flex;
  gap: 10.7vw;
}

.posts_container {
  display: flex;
  flex-direction: column;
  margin-left: 3.2vw;
}

.latest_posts_title {
  display: flex;
  align-items: center;
  gap: .8vw;
}

.latest_posts_title > div{
  background-color: #F6A01E;
  height: 2.6vw;
  width: 1.5vw;
  border-radius: 3%;
}

.latest_posts_title > h2 {
  font-family: "Alegreya SC";
  font-weight: 400;
  font-size: 2vw;
}

.latest_post {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5vw;
  font-family: "Bubbler One";
}

.placeholder_image {
  width: 18vw;
  height: 18vw;
}

.post_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 2vw;
}

.post_container > div{
  display: flex;
  gap: 1.5vw;
  font-size: 1.5vw;
}

.post_container > h3 {
  font-size: 2vw;
  margin: 0px;
}

.post_container > p {
  width: 35vw;
  font-size: 1.5vw;
}

.post_container > button {
  border-radius: 5px;
  border-color: transparent;
  width: 11vw;
  height: 2.5vw;
  font-family: "ABeeZee";
  color: #FDDA6F;
  background-color: #8D68AEA1;
  font-size: 1.4vw;
}

.post_container > button:hover {
  cursor: pointer;
  background-color: #7e5e9ba1;
}

.side_container {
  display: flex;
  flex-direction: column;
  padding-top: 1.5vw;
}

.side_gloria {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.side_gloria > div {
  width: 12vw;
  height: 12vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.side_gloria > p {
  font-family: "Bubbler One";
  font-size: 1.6vw;
  width: 23vw;
}

.side_gloria > p::first-letter {
  font-size: 2.5vw;
}

.side_gloria > h3:hover {
  cursor: pointer;
}

.side_gloria > h3 {
  font-family: "Alegreya Sans";
  font-weight: 500;
  color: #D39AF9;
  font-size: 1.3vw;
}

.side_gloria > h3::first-letter {
  font-size: 1.6vw;
}

.side_divider {
  height: .3vw;
  background-color:#F6A01E;
  border-color: transparent;
  width: 8.8vw;
  margin-top: 1.55vw;
}

.popular_posts {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1.55vw;
}

.popular_posts > h2 {
  font-family: "ABeeZee";
  font-style: normal;
  font-size: 1.6vw;
  color: #000000BF;
  font-weight: 400;
  margin-right: 11.8vw;
}

.slideshow {
  display: flex;
  align-items: center;
  gap: .5vw;
}
.arrow {
  width: 2.2vw;
  height: 2.2vw;
}

.arrow:hover {
  cursor: pointer;
}

.preview {
  background-color: #D9D9D9;
  width: 18.2vw;
  height: 12vw;
}

.preview:hover {
  cursor: pointer;
}

.date_posted {
  display: flex;
  font-family: "Bubbler One";
  gap: 1vw;
  font-size: 1.1vw;
  margin-right: 5.7vw;
  margin-bottom: -2.4vw;
}

.popular_posts > h3 {
  font-family: "Bubbler One";
  font-size: 1.6vw;
  font-weight: 700;
  margin-right: 11.3vw;
}

.dot_container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: .3vw;
  margin-top: 1.3vw;
  margin-bottom: 1.65vw;
}

.dot_unselected {
  background-color: #D9D9D9;
  width: .5vw;
  height: .5vw;
  border-radius: 50%;
  border-color: transparent;
}

.dot_selected {
  background-color: #868686;
  width: .5vw;
  height: .5vw;
  border-radius: 50%;
  border-color: transparent;
}

.dear_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.dear_container > h2 {
  font-family: "ABeeZee";
  color: #000000BF;
  font-style: italic;
  font-weight: 400;
  font-size: 1.6vw;
  margin-bottom: -.5vw;
  margin-top: 2vw;
}

.dear_container > p {
  font-family: "Bubbler One";
  font-size: 1.3vw;
}

.dear_container > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.name_text {
  border-top-style:hidden;
  border-left-style:hidden;
  border-right-style:hidden;
  border-bottom-color: #8D68AE;
  border-width: .2vw;
  width: 20vw;
  font-family: "ABeeZee";
  font-size: 1.1vw;
  color: #D39AF9;
  padding-left: .5vw;
}

.name_text::placeholder {
  color: #D39AF9;
}

.name_text:focus {
  outline: none;
}

.checkbox_container {
  display: flex;
  align-items: center;
  gap: .5vw;
}

.checkbox {
  accent-color: #D39AF9;
  margin-top: .6vw;
}

.checkbox_label {
  font-family: "Bubbler One";
  margin-right: 7.2vw;
  font-size: .9vw;
  margin-top: .5vw;
}

.text_area {
  width: 20vw;
  height: 10vw;
  border-color: #8D68AE;
  border-width: .2vw;
  color:#D39AF9;
  font-family: "ABeeZee";
  font-size: 1.1vw;
  margin-top: 1.7vw;
  padding-left: .5vw;
}

.text_area::placeholder {
  color:#D39AF9;
}

.text_area:focus {
  outline: none;
}

.text_area_button {
  margin-top: 1.3vw;
  width: 6vw;
  font-family: "ABeeZee";
  color: white;
  background-color: #F6A01EAB;
  border-color: transparent;
  border-radius: 20px;
  height: 2vw;
  font-size: 1.1vw;
  margin-left: 14vw;
}

.text_area_button:hover {
  cursor: pointer;
  background-color: #e6951dab;
}

@media only screen and (max-width: 600px) {
  .banner {
    background-image: url("/images/circles_background.png");
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 60px;
    width: 100%;
  }
  
  .center_banner {
    background-color: white;
    justify-content: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    width:100%;
  }
  
  .text_container > p {
    font-family: "Bubbler One";
    font-size: 6vw;
    margin-top: 30px;
    text-align: center;
  }
  
  .text_container {
    display: flex;
  }
  
  .heart_emoji {
    display: none;
  }
  
  .ellipse_container {
    display: flex;
    align-items: center;
    justify-content: row;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
  }
  
  .ellipse1 {
    background-image: url("/images/ellipse_1.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 26.1vw;
    width: 26.1vw;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-position-y: 2px;
    margin-top: 0px;
  }
  
  .ellipse1:hover {
    cursor: pointer;
    transform: scale(1.05);
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
  }
  
  .ellipse2 {
    background-image: url("/images/ellipse_2.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 26.1vw;
    width: 26.1vw;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-position-y: 2px;
    margin-bottom:0px;
  }
  
  .ellipse2:hover {
    cursor: pointer;
    transform: scale(1.05);
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
  }
  
  .ellipse3 {
    background-image: url("/images/ellipse_3.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 26.1vw;
    width: 26.1vw;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-position-y: 2px;
    margin-bottom: 0px;
  }
  
  .ellipse3:hover {
    cursor: pointer;
    transform: scale(1.05);
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
  }
  
  .ellipse4 {
    background-image: url("/images/ellipse_4.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 26.1vw;
    width: 26.1vw;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-position-y:4px;
    margin-top: 0px;
  }
  
  .ellipse4:hover {
    cursor: pointer;
    transform: scale(1.05);
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
  }
  
  .ellipse_text {
    font-family: "Alegreya SC";
    font-size: 3.2vw;
    color: white;
    font-weight: 500;
  }

  .email_container {
    background-color: #D39AF978;
    padding: 2vw;
    display: none;
    align-items: center;
    width: 90vw;
  }

  .main_container {
    display: flex;
    gap: 10.7vw;
    margin-top: 2.5vw;
  }
  
  .posts_container {
    display: flex;
    flex-direction: column;
    gap: 4vw;
    margin-left: 3.2vw;
  }
  
  .latest_posts_title {
    display: flex;
    align-items: center;
    gap: .8vw;
    margin-bottom: -6vw;
  }
  
  .latest_posts_title > div{
    background-color: #F6A01E;
    height: 7vw;
    width: 2.5vw;
    border-radius: 3%;
  }
  
  .latest_posts_title > h2 {
    font-family: "Alegreya SC";
    font-weight: 400;
    font-size: 6vw;
  }
  
  .latest_post {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5vw;
    font-family: "Bubbler One";
  }
  
  .placeholder_image {
    width: 36vw;
    height: 36vw;
  }
  
  .post_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 2vw;
  }
  
  .post_container > div{
    display: flex;
    gap: 1.5vw;
    font-size: 2.5vw;
  }
  
  .post_container > h3 {
    font-size: 4.5vw;
    margin: 0px;
  }
  
  .post_container > p {
    width: 56vw;
    font-size: 2.5vw;
  }
  
  .post_container > button {
    border-radius: 5px;
    border-color: transparent;
    width: 15vw;
    height: 5vw;
    font-family: "ABeeZee";
    color: #FDDA6F;
    background-color: #8D68AEA1;
    font-size: 2vw;
  }
  
  .post_container > button:hover {
    cursor: pointer;
    background-color: #7e5e9ba1;
  }
  
  .side_container {
    display: flex;
    flex-direction: column;
    padding-top: 1.5vw;
    display: none;
  }
  
  .side_gloria {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  
  .side_gloria > div {
    width: 12vw;
    height: 12vw;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .side_gloria > p {
    font-family: "Bubbler One";
    font-size: 1.6vw;
    width: 23vw;
  }
  
  .side_gloria > p::first-letter {
    font-size: 2.5vw;
  }
  
  .side_gloria > h3:hover {
    cursor: pointer;
  }
  
  .side_gloria > h3 {
    font-family: "Alegreya Sans";
    font-weight: 500;
    color: #D39AF9;
    font-size: 1.3vw;
  }
  
  .side_gloria > h3::first-letter {
    font-size: 1.6vw;
  }
  
  .side_divider {
    height: .3vw;
    background-color:#F6A01E;
    border-color: transparent;
    width: 8.8vw;
    margin-top: 1.55vw;
  }
  
  .popular_posts {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1.55vw;
  }
  
  .popular_posts > h2 {
    font-family: "ABeeZee";
    font-style: normal;
    font-size: 1.6vw;
    color: #000000BF;
    font-weight: 400;
    margin-right: 11.8vw;
  }
  
  .slideshow {
    display: flex;
    align-items: center;
    gap: .5vw;
  }
  .arrow {
    width: 2.2vw;
    height: 2.2vw;
  }
  
  .arrow:hover {
    cursor: pointer;
  }
  
  .preview {
    background-color: #D9D9D9;
    width: 18.2vw;
    height: 12vw;
  }
  
  .preview:hover {
    cursor: pointer;
  }
  
  .date_posted {
    display: flex;
    font-family: "Bubbler One";
    gap: 1vw;
    font-size: 1.1vw;
    margin-right: 5.7vw;
    margin-bottom: -2.4vw;
  }
  
  .popular_posts > h3 {
    font-family: "Bubbler One";
    font-size: 1.6vw;
    font-weight: 700;
    margin-right: 11.3vw;
  }
  
  .dot_container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .3vw;
    margin-top: 1.3vw;
    margin-bottom: 1.65vw;
  }
  
  .dot_unselected {
    background-color: #D9D9D9;
    width: .5vw;
    height: .5vw;
    border-radius: 50%;
    border-color: transparent;
  }
  
  .dot_selected {
    background-color: #868686;
    width: .5vw;
    height: .5vw;
    border-radius: 50%;
    border-color: transparent;
  }
  
  .dear_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .dear_container > h2 {
    font-family: "ABeeZee";
    color: #000000BF;
    font-style: italic;
    font-weight: 400;
    font-size: 1.6vw;
    margin-bottom: -.5vw;
    margin-top: 2vw;
  }
  
  .dear_container > p {
    font-family: "Bubbler One";
    font-size: 1.4vw;
  }
  
  .dear_container > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .name_text {
    border-top-style:hidden;
    border-left-style:hidden;
    border-right-style:hidden;
    border-bottom-color: #8D68AE;
    border-width: .2vw;
    width: 20vw;
    font-family: "ABeeZee";
    font-size: 1.1vw;
    color: #D39AF9;
    padding-left: .5vw;
  }
  
  .name_text::placeholder {
    color: #D39AF9;
  }
  
  .name_text:focus {
    outline: none;
  }
  
  .checkbox_container {
    display: flex;
    align-items: center;
    gap: .5vw;
  }
  
  .checkbox {
    accent-color: #D39AF9;
    margin-top: .6vw;
  }
  
  .checkbox_label {
    font-family: "Bubbler One";
    margin-right: 7.2vw;
    font-size: .9vw;
    margin-top: .5vw;
  }
  
  .text_area {
    width: 20vw;
    height: 10vw;
    border-color: #8D68AE;
    border-width: .2vw;
    color:#D39AF9;
    font-family: "ABeeZee";
    font-size: 1.1vw;
    margin-top: 1.7vw;
    padding-left: .5vw;
  }
  
  .text_area::placeholder {
    color:#D39AF9;
  }
  
  .text_area:focus {
    outline: none;
  }
  
  .text_area_button {
    margin-top: 1.3vw;
    width: 6vw;
    font-family: "ABeeZee";
    color: white;
    background-color: #F6A01EAB;
    border-color: transparent;
    border-radius: 20px;
    height: 2vw;
    font-size: 1.1vw;
    margin-left: 14vw;
  }
  
  .text_area_button:hover {
    cursor: pointer;
    background-color: #e6951dab;
  }

}
