.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.banner {
  background-image: url("/images/circles_background.png");
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 60px;
}

.center_banner {
  background-color: white;
  justify-content: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 30px;
}

.center_banner > p {
  font-family: "Bubbler One";
  font-size: 35px;
  margin-top: 30px;
}
